.quicklinks {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
}

.quicklinks-title {
    font-weight: 700;
    white-space: nowrap;
}
