.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.primary {background-color: blue}
.secondary {background-color: red;}

.border {
    background-color: black;
    font-family: "Gill Sans", sans-serif;
    border: 1px solid black
}
.border:hover {
    color: black;
    background-color: white;
    border: 1px solid black
}

.link {
    display: flex;
    color: black;
    background-color: white;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 3px 13px;
}

.link:hover {
    color: grey
}

.sign-in-link {
    display: flex;
    color: black;
    background-color: white;
    text-transform: uppercase;
    padding: 10px 20px;
}

.sign-in-link:hover {
    color: grey
}

.close {
    background-color: black;
    color: grey;
    font-size: 24pt;
    font-weight: lighter;
    padding: 10px 20px;
}

.close:hover {
    color: white;
}