.search-bar {
    display: flex;
    flex-direction: column;
}

form input {
    background: black;
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    height:48px;
    width: 100%;
    font-size: 12pt;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 20px;
}

form input:focus {
    outline: none;
}