.search {
    display: flex;
    font-family: "Gill Sans", sans-serif;
    flex-direction: column;
    width: 30%;
}

.primary {
    color: white;
    background-color: black;
}

.category {
    height: 12%;
    border-bottom: 1px solid grey;
    height: 60pt;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    width: 90%;
}
